@keyframes wave {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -54px 0;
  }
}

@keyframes mount1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1760px 0;
  }
}

@keyframes mount2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1782px 0;
  }
}

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1001px 0;
  }
}